.container {
  opacity: 0.7;
  background: #1c1c1c;
  padding: 20px 0;
}

.wrapper {
  position: relative;
  width: 75%;
  margin: 0 auto;
}

.input {
  background: #353535;
  outline: none;
  border: none;
  color: white;
  font-size: 28px;
  border-radius: 30px;
  padding: 10px 70px;
  width: 100%;
  max-width: 1189px;
}

.search {
  position: absolute;
  top: 10%;
  left: 15px;
  height: 80%;
}

.search::after {
  content: '\f002';
}
